In [1]:
# Libraries
import tweepy
import json
import pandas as pd
from pandas.io.json import json_normalize

In [3]:
auth = tweepy.OAuthHandler(consumer_key,consumer_secret)
auth.set_access_token(access_token, access_token_secret)

In [4]:
api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True)

In [5]:
data = api.me()

In [6]:
# function to convert _json to JSON
def jsonify_tweepy(tweepy_object):
    json_str = json.dumps(tweepy_object._json)
    return json.loads(json_str)

# function to get extended retweets
def jsonify_tweepy_2(tweet_info):

    if "retweeted_status" in dir(tweet_info):
      return tweet_info.retweeted_status.full_text
    else:
      return tweet_info.full_text

# df.iloc[row][col]

Accounts or keywords
Keywords
* "car innovation ideas"
Pages

In [11]:
#
truck_issues_req = list(tweepy.Cursor(api.search, q="truck issues", tweet_mode="extended").items(1500))

In [12]:
truck_issues = json_normalize([jsonify_tweepy(tweet) for tweet in truck_issues_req])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  """Entry point for launching an IPython kernel.

In [13]:
truck_issues.head()

,created_at,id,id_str,full_text,truncated,display_text_range,source,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,retweeted_status.lang,retweeted_status.entities.media,retweeted_status.extended_entities.media,retweeted_status.user.entities.url.urls,quoted_status.user.entities.url.urls,quoted_status.entities.media,quoted_status.extended_entities.media,retweeted_status.quoted_status.quoted_status_id,retweeted_status.quoted_status.quoted_status_id_str,retweeted_status.quoted_status.possibly_sensitive
0,Wed Mar 30 03:57:42 +0000 2022,1509016994120613890,1509016994120613890,"ðŸ•ŠSIGNS &amp; SYNCHS: 11,22, 44, basketball, Tr...",False,"[0, 192]","<a href=""http://twitter.com/download/iphone"" r...",1.509017e+18,1509016929339645958,1.199348e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Wed Mar 30 03:42:38 +0000 2022,1509013202780274688,1509013202780274688,@Neversleever666 @0ctoberReignz @HMB_Susan @Ma...,False,"[54, 175]","<a href=""http://twitter.com/download/android"" ...",1.508920e+18,1508919923866755083,1.447954e+18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wed Mar 30 02:50:21 +0000 2022,1509000044992778243,1509000044992778243,Me this morning backing out of my truck deal &...,False,"[0, 156]","<a href=""http://twitter.com/download/iphone"" r...",NaN,None,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Wed Mar 30 02:49:22 +0000 2022,1508999797419778048,1508999797419778048,@Stuart71639567 @keltruck Illl stay out this w...,False,"[26, 130]","<a href=""http://twitter.com/download/iphone"" r...",1.508933e+18,1508932978751250433,1.409170e+18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Wed Mar 30 01:31:50 +0000 2022,1508980288495374336,1508980288495374336,@JenWis @MimiMelange @3YearLetterman @POTUS Di...,False,"[44, 324]","<a href=""http://twitter.com/download/android"" ...",1.508770e+18,1508770056754417665,7.137747e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
print(truck_issues.columns[150:200])

Index(['place.country_code', 'place.country', 'place.contained_within',
       'place.bounding_box.type', 'place.bounding_box.coordinates',
       'quoted_status.user.profile_banner_url',
       'quoted_status.quoted_status_id', 'quoted_status.quoted_status_id_str',
       'quoted_status.possibly_sensitive', 'entities.media',
       'extended_entities.media', 'retweeted_status.created_at',
       'retweeted_status.id', 'retweeted_status.id_str',
       'retweeted_status.full_text', 'retweeted_status.truncated',
       'retweeted_status.display_text_range',
       'retweeted_status.entities.hashtags',
       'retweeted_status.entities.symbols',
       'retweeted_status.entities.user_mentions',
       'retweeted_status.entities.urls',
       'retweeted_status.metadata.iso_language_code',
       'retweeted_status.metadata.result_type', 'retweeted_status.source',
       'retweeted_status.in_reply_to_status_id',
       'retweeted_status.in_reply_to_status_id_str',
       'retweeted_status.in_reply_to_user_id',
       'retweeted_status.in_reply_to_user_id_str',
       'retweeted_status.in_reply_to_screen_name', 'retweeted_status.user.id',
       'retweeted_status.user.id_str', 'retweeted_status.user.name',
       'retweeted_status.user.screen_name', 'retweeted_status.user.location',
       'retweeted_status.user.description', 'retweeted_status.user.url',
       'retweeted_status.user.entities.description.urls',
       'retweeted_status.user.protected',
       'retweeted_status.user.followers_count',
       'retweeted_status.user.friends_count',
       'retweeted_status.user.listed_count',
       'retweeted_status.user.created_at',
       'retweeted_status.user.favourites_count',
       'retweeted_status.user.utc_offset', 'retweeted_status.user.time_zone',
       'retweeted_status.user.geo_enabled', 'retweeted_status.user.verified',
       'retweeted_status.user.statuses_count', 'retweeted_status.user.lang',
       'retweeted_status.user.contributors_enabled'],
      dtype='object')

In [29]:
print(truck_issues["retweeted_status.full_text"])

0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                                    NaN
4                                                    NaN
                             ...
614                                                  NaN
615    Please do not make your own licence plates if ...
616    My truck is stuck! Supply chain issues have pu...
617    Cost of living &amp; inflationary issues were ...
618                                                  NaN
Name: retweeted_status.full_text, Length: 619, dtype: object

In [14]:
truck_issues2 = pd.DataFrame([jsonify_tweepy_2(tweet) for tweet in truck_issues_req])

In [15]:
truck_issues2.head()

                                                   0
0  ðŸ•ŠSIGNS &amp; SYNCHS: 11,22, 44, basketball, Tr...
1  @Neversleever666 @0ctoberReignz @HMB_Susan @Ma...
2  Me this morning backing out of my truck deal &...
3  @Stuart71639567 @keltruck Illl stay out this w...
4  @JenWis @MimiMelange @3YearLetterman @POTUS Di...